@use 'src/styles/vars';


.projects {
  position: relative;
  background-color: vars.$secondary-color;
  color: black;
  height: 100vh;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  &__title {
    font-size: 3em;
  }
    &__container {
      margin-top: 1.5em;
      display: flex;
      flex-direction: column;
      margin: auto;
      border: 1px solid green;
      width: 75%;
      color: green;
      font-size: 1.5em;
      &__list {
        border: 1px solid black;
        margin: 1em 0;
        &__project {
          &__content {
            background-color: vars.$primary-color;
            width: 50%;
            & h2 {
              margin-top: 1em;
            }
            & p {
              color: black;
              margin: 1rem auto;
            }
          }
          
        }
        
      }
    
  }
}
