@use 'src/styles/vars';
@import 'src/styles';

body {
      width: 100%;
      height: 100vh;
      position: relative;
      background-color: #34495e;
}
    
.content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow:hidden;
      
      font-family: 'Lato', sans-serif;
      font-size: 4em;
      line-height: 2.5em;
      color: #ecf0f1;
      
      &__container {
        font-weight: 600;
        overflow: hidden;
        height: 2em;
        padding: 0 2.5em;
    
        &:before {
          content: '[';
          left: 0;
        }
    
        &:after {
          content: ']';
          position: absolute;
          right: 0;
        }
    
        &:after, &:before {
          position: absolute;
          top: 0;
          color: #16a085;
          font-size: 1em;
          line-height: 2.5em;
          
          -webkit-animation-name: opacity;
          -webkit-animation-duration: 2s;
          -webkit-animation-iteration-count: infinite;
          animation-name: opacity;
          animation-duration: 2s;
          animation-iteration-count: infinite;
        }
    
        &__text {
          display: inline;
          float: left;
          margin: 0;
        }
    
        &__list {
          margin-top: 0;
          padding-left: 2.7em;
          text-align: left;
          list-style: none;
          
          -webkit-animation-name: change;
          -webkit-animation-duration: 5s;
          -webkit-animation-iteration-count: infinite;
          animation-name: change;
          animation-duration: 5s;
          animation-iteration-count: infinite;
    
          &__item {
            line-height:2.5em;
            margin:0;
          }
        }
      }
      @include mob {
        &__container {
          &__list {
            margin: auto;
            &__item:last-child {
              display: none;
            }
          }
        }
      }
      @include mobTab {
        &__container {
          &__list {
            margin: auto;
            &__item:last-child {
              display: none;
            }
          }
        }

    }
}

    
    @-webkit-keyframes opacity {
      0%, 100% {opacity:0;}
      50% {opacity:1;}
    }
    
    @-webkit-keyframes change {
      0%, 12.66%, 100% {transform:translate3d(0,0,0);}
      // 16.66%, 29.32% {transform:translate3d(0,-25%,0);}
      33.32%,45.98% {transform:translate3d(0,-50%,0);}
      // 49.98%,62.64% {transform:translate3d(0,-75%,0);}
      66.64%,79.3% {transform:translate3d(0,-50%,0);}
      // 83.3%,95.96% {transform:translate3d(0,-25%,0);}
    }
    
    @-o-keyframes opacity {
      0%, 100% {opacity:0;}
      50% {opacity:1;}
    }
    
    @-o-keyframes change {
      0%, 12.66%, 100% {transform:translate3d(0,0,0);}
      // 16.66%, 29.32% {transform:translate3d(0,-25%,0);}
      33.32%,45.98% {transform:translate3d(0,-50%,0);}
      // 49.98%,62.64% {transform:translate3d(0,-75%,0);}
      66.64%,79.3% {transform:translate3d(0,-50%,0);}
      // 83.3%,95.96% {transform:translate3d(0,-25%,0);}
    }
    
    @-moz-keyframes opacity {
      0%, 100% {opacity:0;}
      50% {opacity:1;}
    }
    
    @-moz-keyframes change {
      0%, 12.66%, 100% {transform:translate3d(0,0,0);}
      // 16.66%, 29.32% {transform:translate3d(0,-25%,0);}
      33.32%,45.98% {transform:translate3d(0,-50%,0);}
      // 49.98%,62.64% {transform:translate3d(0,-75%,0);}
      66.64%,79.3% {transform:translate3d(0,-50%,0);}
      // 83.3%,95.96% {transform:translate3d(0,-25%,0);}
    }
    
    @keyframes opacity {
      0%, 100% {opacity:0;}
      50% {opacity:1;}
    }
    
    @keyframes change {
      0%, 12.66%, 100% {transform:translate3d(0,0,0);}
      // 16.66%, 29.32% {transform:translate3d(0,-25%,0);}
      33.32%,45.98% {transform:translate3d(0,-50%,0);}
      // 49.98%,62.64% {transform:translate3d(0,-75%,0);}
      66.64%,79.3% {transform:translate3d(0,-50%,0);}
      // 83.3%,95.96% {transform:translate3d(0,-25%,0);}
    }

