@use 'sass:math';

// $primary-color: #512D62;
// $secondary-color: #152D68;
// $tertiary-color: #005996;
// $fourth-color: #0085B8;

$primary-color: #F44056;
$secondary-color: #00619E;
$tertiary-color: #F6B251;


$green-color: #7E987E;

$tablet-breakpoint: 1024px;
$mobile-breakpoint: 480px;
