@use 'reset';
@use 'vars';

body {
  font-family: 'Dancing Script', cursive;
  border: 1px solid red;
}

.button__return__top {
  display: none;
  position: fixed;
  z-index: 999;
  padding: 0;
  height: 60px;
  width: 60px;
  border-radius: 10px;
  right: 10%;
  bottom: 15%;
  font-size: 3em;
}

.title {
  width: 400px;
  margin: auto;
  text-shadow: 1px 1px 2px #000000;
}

h1 {
  margin-top: .3em;
  font-size: 5em;
  text-align: center;
}

.footer {
  margin-top: auto;
  text-align: center;
}

.button__back {
  font-size: 3em;
  &:hover {
    transform: scale(1.1);
  }
}

