@use 'reset';
@use 'vars';

body {
  font-family: sans-serif;
}

h1 {
  font-size: 5em;
  text-align: center;
}

.button__back {
  margin-top: 40%;
  font-size: 3em;
  text-align: center;
  &:hover {
    transform: scale(1.1);
  }
}
