@use 'src/styles/vars';

.contact {
  position: relative;
  background-color: vars.$tertiary-color;
  color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title {
    font-size: 1.5em;
    font-weight: 900;
    user-select: none;
  }
  &__content {
    height: 100%;
    text-align: center;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    &__mail {
      margin-top: auto;
      height: 15%;
      & h2 {
        height: 40%;
        font-size: 2.5em;
        user-select: none;
        font-weight: 500;
      }
      &__adress {
        font-size: 3em;
        text-shadow: 1px 1px 1px black;
      }
    }
    &__logo {
      width: 15%;
      display: flex;
      justify-content: space-around;
      margin-bottom: auto;
      margin-left: 42%;
      font-size: 2em;
      &__1, &__2 {
        &:hover {
          transform: scale(1.4);
          -webkit-transition: all ease-in-out 0.3s 0s ;
          -moz-transition: all ease-in-out 0.3s 0s ;
          -o-transition: all ease-in-out 0.3s 0s ;
          transition: all ease-in-out 0.3s 0s ;
        }

      }
    }
  }
}
